<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Result</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <a href="/">Back</a>

    <div class="well well-sm" style="margin-right:auto; margin-left:390px;width: 600px;height:350px;margin-top: 80px;">
        <h3 align="center">Result</h3><br>
        <div class="alert alert-success">
            <strong>{{ data_URL }} -> Is Save :) Link Not Indicate Adult Content.</strong>
        </div>
        <div class="alert alert-danger" >
          <strong>{{ data_URL }} -> Not Save :( Link Indicate Adult Content</strong>
        </div>

        <h4>Site With Title : {{ data_Text }}</h4>
        <p>*Note : </p>
    </div>

</body>
</html>